* {
    margin: 0;
    padding: 0;
}

.wrap-carts {
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.empty-cart {
    text-align: center;
    margin-bottom: 65vh;
    font-weight: 500;
    font-size: 24px;
    font-family: sans-serif;
    color: #fa6400;
}

.card-carts {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.wrap-img-carts {
    border-radius: 20px;   
    overflow: hidden;
}

.img-carts {
    width: 170px;
}

.note-carts, .price-carts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.title-carts {
    font-weight: 500;
    font-family: sans-serif;
    padding: 2px;
}

.content-carts {
    text-align: center;
    padding: 10px 20px 0;
}

.content-price-carts {
    padding: 10px 20px 0;
}

.content-delete-carts {
    margin-top: 20px;
    text-align: center;
    background: lightskyblue;
    border-radius: 20px;
    cursor: pointer;
}

.finish-carts {
    position: absolute;
    right: 22%;
    top: 70px;
    border-radius: 100px;
    color: white;
    border: none;
    overflow: hidden;
    background: transparent; 
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4);
}

.title-finish-carts {
    padding: 15px;
    position: relative;
    font-size: 22px;
}

.title-finish-carts:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(235,163,111,1) 0%, rgba(222,105,104,1) 50%, rgba(235,163,111,1) 100%);
    background-size: 200%;
    transition: 0.5s;
    animation: animate 10s linear infinite;
    z-index: -1;
}

@keyframes animate {
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 450% 0;
    }
    100%
    {
        background-position: 0 0;
    }
}

button:focus {
    outline: 0;
}

.delete-carts-none {
    display: none;
}

@media screen and (max-width: 600px) { 
    .card-carts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .finish-carts {
        position: fixed;
    }

    .img-carts {
        width: 15em;
    }

    .title-carts, .title-delete-carts {
        display: none;
    }

    .content-delete-carts{
        width: 70px;
    }

    .note-carts {
        width: 100%;
    }

    .title-price-carts {
        margin-top: 10px;
        color: #fa6400;
        width: 30px;
        text-align: center;
    }
}